.foot {
  margin-top: 0;
  background-color: #f2f0ff;
}

.horizontal-line {
  border-bottom: 2px solid red;
}

.horizontal-line-below {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid red;
}

.footer .about {
  padding-left: 1.5rem;
}

.footer .service {
  padding-left: 1.5rem;
}

.footer .careers {
  padding-left: 1.5rem;
}

.footer .company {
  padding-left: 1.5rem;
}

.footer .address,
.contact {
  list-style-type: none;
  padding: 0;
}

.footer h6 {
  color: #193971;
  font-weight: bold;
}

.footer .footer-logo {
  width: 165px;
  height: 65px;
  margin-top: 2rem;
}

.footer .product-heading {
  color: #193971;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer .productlist {
  color: #193971;
  text-decoration: none;
  font-size: 15px;
}

.footer h4 {
  color: #193971;
  font-size: 1.9rem;
  font-weight: 600;
}


.footer .company-heading {
  color: #193971;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer .companylist {
  color: #193971;
  text-decoration: none;
  font-size: 15px;
}


.footer .careers-heading {
  color: #193971;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 2.5rem;
}

.footer .careerslist {
  color: #193971;
  text-decoration: none;
  font-size: 15px;
  margin-left: 2.5rem;
}

.footer li {
  font-size: .8rem;
  font-weight: 600;
  color: #193971;
  font-size: 16px;
  display: flex;
  gap: 7px;
  align-items: center;
  line-height: 2.5;
}

.footer a:hover {
  transition: .3s ease-in-out;
  color: #EB672C;

}

.social {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  margin: 0;
  margin-left: .6rem;

  max-width: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;

  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.social .socialimage {
  width: 30%;
}

.social .socialimage:hover {
  /* width: 60%; */
  /* transition: .3s ease-in-out; */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);

}

.copywrite-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.privacy-link {
  padding-left: 0.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #193971;
}

.privacy-link:hover {
  color: #EB672C;
  transition: .3s ease-in-out;
}

.reserved {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  color: #193971;
  font-weight: 700;
}

.reserved-icon {
  height: 25px;
  width: 25px;
}

.footer .footerlinks {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    margin-top: 0;
  }

  .social-icon {
    max-width: 40%;
    margin-left: .6rem;
  }

  .social .socialimage {
    width: 60%;
  }

  .social .socialimage:hover {
    width: 70%;
  }

  .footer .careers-heading {

    margin-left: 0;
  }

  .footer .careerslist {

    margin-left: 0;
  }

}

@media screen and (max-width: 480px) {

  .horizontal-line {
    display: none;
  }

  .footer .footer-body {
    padding: .1px;
  }

  .footer h4 {
    font-size: 1.5rem;
  }

  .footer p {
    color: #193971;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .1px;
    word-spacing: .1px;
  }

  .footer l1 {
    font-size: 1rem;
  }

  .footer .social {
    order: 4;
    margin-top: 1rem;
    display: flex;
    margin-left: 0;
  }

  .footer .footer-logo {
    order: 5;
    margin-top: 1rem;
  }

  .footer ul {
    padding-left: 0;
  }

  .footer .product-heading {
    font-size: 1rem;
    font-weight: 700;
  }

  .footer .company-heading {
    font-size: 1rem;
    font-weight: 700;
  }

  .footer .careers-heading {
    font-size: 1rem;
    font-weight: 700;
  }

  .productlist,
  .companylist,
  .careerslist {
    font-size: .8rem;
    /* line-height: 28px; */
    font-weight: 600;
  }

  .footer li {

    line-height: 28px;
  }

  .footer .privacy-link {
    flex-wrap: wrap;
    padding-left: 0.1rem;
    text-decoration: none;
    font-size: .6rem;
    font-weight: 700;
    color: #193971;
  }

  .footer .demo-button {
    display: none;
  }

  .reserved {
    font-size: .7rem;
  }

  .privacy-link {
    padding-left: 0.2rem;
    font-size: 0.8rem;
    font-weight: 700;
  }

  .reserved-icon {
    height: 12px;
    width: 12px;
  }

  .social-icon {
    max-width: 50%;
    margin-left: .6rem;
  }

  .social .socialimage {
    width: 75%;
  }

  .social .socialimage:hover {
    width: 85%;

  }

  .address,
  .contact {
    padding-left: 0;
  }

  .footer .careers-heading {
    margin-left: 0;
  }

  .footer .careerslist {
    margin-left: 0;
  }
}