.logineazotel {
  background: solid white;
  height: 690px;
  display: flex;
  align-items: center;
  justify-content: center;

}



.login-content .login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #FD5C01; */
  border: 2px solid #0A3A75;
  width: 500px;
  row-gap: 10px;
  padding: 30px 55px;
  border-radius: 15px;

}

.logineazotel .createwebsitebutton {
  font-size: 1.1rem;
  font-weight: 600;
  color: #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  background: #193971;
  border: 0;
  border-radius: 12px;
}

.logineazotel .createwebsitebutton:hover{
  background: #FD5C01;

}

.logineazotel .button:hover {
  background: #FD5C01;
  transition: 0.1s;
}

.logineazotel .input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 6px 0;
  position: relative;
}

.logineazotel input {
  width: 100%;
  height: 2.5rem;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  color: #193971;
  border: 1px solid #193971;
  border-bottom: 3px solid #193971;
  border-left: 3px solid #193971;
}

.logineazotel .image {
  display: contents;

}



.logineazotel .eye-icon {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}



.logineazotel img {
  width: 50%;

}

.logineazotel .sub {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.logineazotel .dont {
  color: #0A3A75;
    text-decoration: none;
    font-weight: 500;

}

.logineazotel .radio {
  margin-top: 1px;
  height: .9rem;
  width: .9rem;
  color: #1A1A1A;
  background-color: #1A1A1A;
}

.logineazotel .redio-data {
  display: flex;
  justify-content: center;
}

.logineazotel .remember {
  font-size: 1rem;
  color: #0A3A75;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
}

.logineazotel .forget {
  font-size: 13px;
  color: #0A3A75;
  font-weight: 600;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
}

.logineazotel .abs {
  font-size: .7rem;
  color: #193971;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

.logineazotel .googleauth {
  border-radius: 8px;
  border: 1px solid #193971;
  border-bottom: 2px solid #193971;
  border-left: 2px solid #193971;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  padding: 1rem;
  background: solid white;
}

.logineazotel .google {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logineazotel .glb {
  margin-top: .4rem;
  font-size: 1.2rem;
  color: #193971;
  font-weight: 700;

}

/* .logineazotel input::placeholder {
  font-weight: 700;
  color: #193971;

} */

.logineazotel span {
  display: flex;
  align-items: flex-start;
}

.logineazotel button {
  width: 30%;
}

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 480px) {

  .logineazotel{
    height: 580px;
  }
  .login-content .login-body {
    width: 100%;
    padding:15px 35px;
  }

  .logineazotel .glb{
    font-size: 14px;
  }
  
}